*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* use Datatype google font for main text */
  font-family: 'Datatype';
  font-weight: 400;
  font-style: normal;
}

#root {
  min-height: 100dvh;
}
